<tr class="flight-row">
  <td>
    <%= flight.datetime %>
  </td>

  <td>
    <%= flight.origin %>
  </td>

  <td>
    <%= flight.destination %>
  </td>

  <td>
    <%= link_to "Reserve", flight %>
  </td>
</tr>


