<tr>
  <td class="p-3">
    <%= flight.datetime %>
  </td>

  <td class="p-3">
    <%= flight.origin %>
  </td>

  <td class="p-3">
    <%= flight.destination %>
  </td>

  <td class="p-3">
    <%= link_to "Reserve", flight, class: "button"%>
  </td>
</tr>


