<p style="color: green"><%= notice %></p>
<div class="columns m-4">
  <div class="column is-one-quarter box m-4">
    <div>
      <%= render "reservations/form" %>
      <div class="center-child">
        <%= link_to "Back to flights", flights_path, class: "button m-4 is-info" %>
      </div>
    </div>
  </div>
  <div class="column box m-4">
    <%= render @flight, taken_seats: @taken_seats, columns: @columns, max_files: @max_files %>
  </div>
</div>
