<header>
  <div class="level m-4">
    <div class="level-item columns has-text-centered">
      <div class="columns column is-half is-offset-one-quarter m-0">
        <%= link_to "Admin", admin_flights_path, class: "hoverable column  p-4 " + (@admin ? "selected	" : "") %>
        <%= link_to "User", flights_path, class: "hoverable column  p-4 " + (@admin ? "" : "selected	") %>
      </div>
    </div>
  </div>
  <% if @admin %>
    <div class="level m-4">
      <div class="level-item columns has-text-centered">
        <div class="columns column is-half is-offset-one-quarter m-0">
          <%= link_to "Flights", admin_flights_path, class: "hoverable column p-4 " + (@selected == "flights" ? "selected	" : "") %>
          <%= link_to "Reservations", admin_reservations_path, class: "hoverable column p-4 " + (@selected == "reservations" ? "selected	" : "") %>
        </div>
      </div>
    </div>
  <% end %>
</header>
