<header>
  <div class="level m-4">
    <%= link_to "Admin", admin_flights_path, class: "level-item p-4 " + (@admin ? "selected" : "") %>
    <%= link_to "User", flights_path, class: "level-item p-4 " + (@admin ? "" : "selected") %>
  </div>
  <% if @admin %>
    <div class="level m-4">
      <%= link_to "Flights", admin_flights_path, class: "level-item p-4" %>
      <%= link_to "Reservations", admin_reservations_path, class: "level-item p-4" %>
    </div>
  <% end %>
</header>
